:root {
	/* # BACKGROUNDS */

	/* * LINEAR GRADIENT BODY */
	--primary-main-bg: #00a884;
	--secondary-main-bg--start: #e3e1dc;
	--secondary-main-bg--end: #d1d7db;
	--main-bg: linear-gradient(
		to bottom,
		var(--primary-main-bg) 0px,
		var(--primary-main-bg) 15vh,
		var(--secondary-main-bg--start) 15vh,
		var(--secondary-main-bg--end) 100vh
	);

	/* * APP */
	--low-contrast-bg: #f0f2f5; /*          ? HEADER, FOOTER AND ACTIVE CONTACT   */
	--lower-contrast-bg: #ffffff; /*        ? ALL CONTACTS                        */
	--chat-bg: url("../img/mine.jpg"); /*      ? CHAT                                */

	/* * MESSAGES */
	--received-message-bg: #ffffff; /*      ? RECEIVED MESSAGES                   */
	--sent-message-bg: #d9fdd3; /*          ? SENT MESSAGES                       */

	/* * DISCLAIMER */
	--disclaimer-main: #8edafc; /*          ? NOTIFICATION BAR BG, ICON COLOR     */
	--disclaimer-low-contrast: #4f7485; /*  ? NOTIFICATION BAR LINK COLOR         */

	/* * TEXTS */
	--main-text: #111b21; /*                ? ALL TEXTS                           */
	--secondary-text: #54656f; /*           ? ICONS                               */
	--low-contrast-text: #667781; /*        ? LATEST ACCESS AND MESSAGE           */

	/* TODO SIZES */
	/* ... */
}

.dbg {
	border: 4px dashed red;
}

body {
	height: 100vh;
	background-image: var(--main-bg);

	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--main-text);
}

.app {
	min-height: 500px;
	height: 90vh;
	max-height: 1000px;

	min-width: 600px;
	width: 80vw;
	max-width: 1600px;

	display: flex;
}

.avatar {
	height: 70px;
	border-radius: 50%;
}

.latest-access {
	color: var(--low-contrast-text);
	font-size: 0.9rem;
}

.icons {
	color: var(--secondary-text);
	font-size: 1.4rem;
}

.contacts-col {
	width: 30%;
}

.contacts-col--header {
	border-right: 1px solid #ddd;
}

.disclaimer {
	background-color: var(--disclaimer-main);
}

.disclaimer-link {
	text-decoration: underline;
	color: var(--disclaimer-low-contrast);
}

.disclaimer .avatar {
	width: 70px;
	height: 70px;
	line-height: 70px;
	border-radius: 50%;
	text-align: center;
	font-size: 1.8rem;

	background-color: white;
	color: var(--disclaimer-main);
}

.search-contacts {
	background-color: var(--low-contrast-bg);
}

.search-contacts--icon {
	background-color: var(--lower-contrast-bg);
	color: var(--low-contrast-text);
	border-right: 1px solid var(--low-contrast-bg);
	width: 15%;
	text-align: center;
}

.search-contacts input {
	border: none;
	width: 85%;
}

.list-contacts {
	overflow: auto;
	background-color: var(--lower-contrast-bg);
}

.list-contacts--contact {
	border-bottom: 1px solid var(--low-contrast-bg);
	cursor: pointer;
}

.contact--active,
.list-contacts--contact:hover {
	background-color: var(--low-contrast-bg);
}

.contacts-col--header,
.chat-col--header {
	background-color: var(--low-contrast-bg);
}

.chat-col {
	width: 70%;
}

.main-chat {
	background-image: var(--chat-bg);
	overflow: auto;
}

.message {
	max-width: 70%;
	border-radius: 5px;
	text-align: right;
}

.message p {
	text-align: left;
}

.message.received {
	background-color: var(--received-message-bg);
}

.message.sent {
	background-color: var(--sent-message-bg);
	align-self: flex-end;
}

.message-date {
	font-size: 0.7rem;
	color: var(--low-contrast-text);
}

.send-message-bar {
	background-color: var(--low-contrast-bg);
}

.send-message-input {
	width: 100%;
}
